#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e8e8e8;
	// background-blend-mode: multiply;

	h1 {
		font-family: 'Libre Baskerville' !important;
		text-align: center;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		font-size: 60px;
		color: rgb(66, 68, 67);
 	
 	}

 	.center-block {
 		margin: 0;
 		float: none;
 	}

 	.home-subtext {
 		margin-top: 50px;
		text-align: center;
		color: rgb(150, 150, 150);
		font-size: 12px;
		line-height: 1.5;

		a {
			color:rgb(81, 130, 198);
		}
 	}
}

