#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;

	h1 {
		font-family: 'Libre Baskerville' !important;
		text-align: center;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		font-size: 60px;
		color: rgb(66, 68, 67);
 	
 	}

 	.center-block {
 		margin: 0;
 		float: none;
 	}
}

